/* General */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #2D3A2E;
    font-size: 16px;

}

main, .maincontainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}
h1,h2 {
    font-family: 'Playful Display', serif;
    color: #2D4C3B;
    text-align: center;
}

h3 {
    font-family: 'Playful Display', serif;
    color: #2D4C3B;
    text-align: center;
    font-size: 18px;
}

p, li {
    font-family: 'Lora', serif;
    color: #3E5F41;
}

main p {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}

main li {
    font-size: 18px;
    max-width: 800px;
}

ul, ol {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #E7F0E4;
    border-radius: 8px;
}

ul li, ol li {
    padding: 5px 0;
    color: #2D4C3B;
}

img {
    display: block;
    margin: auto;
    width: 20%;
    height: 80%;
    object-fit: cover;
}

figcaption {
    font-family: 'Lora', serif;
    color: #2D4C3B;
    font-weight: italic;
    text-align: center;
}

header {
    background-color: #D8E8D7;
    color: #2D4C3B;
    text-align: center;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

header nav a {
    color: #2D4C3B;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;

}

footer {
    color: #4F6959;
    background-color: #DBE8D7;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    margin-top: 40px;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer nav a {
    color: #2D4C3B;
    font-weight: bold;
}

#colorbox {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 50px auto;
}

/* Figure */
figure.table-figure {
    text-align: center;
    margin: 2rem auto;
    max-width: 1000px;
  }
  
  figure.table-figure figcaption {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

/* Tables */

ol {
    list-style-position: inside;
    background-color: #ecf4ea;
    padding: 1.2rem;
    border-radius: 12px;
    max-width: 800px;
    margin: 1rem auto;
    font-size: 1.1rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
}

table.center th,
table.center td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
table.center thead tr {
background-color: #2c3e50;
color: white;
}

/* Alternate row colors in tbody */
table.center tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
table.center tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

/* Device Screen Resolution */

@media screen and (min-width: 981px) and (max-width: 1400px) {
    #colorbox {
        background-color: yellow;
    }
}
 
@media screen and (min-width: 768px) and (max-width: 980px) {
    #colorbox {
        background-color: orange;
    }
}

@media screen and (min-width: 370px) and (max-width: 600px) {
    #colorbox {
        background-color: red;
    }

    header nav, footer nav {
        flex-direction: column;
        gap: 10px;
    }

    img {
        display: block;
        margin: auto;
        max-width: 100%;     
        height: auto;        
        object-fit: cover;
        min-width: 360px;
        min-height: 393px;

        }

    #me {
        width: 100%;
        max-width: 1024px;
        height: auto;
    }
}