@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@400;600&display=swap');

/* Custom Font */
@font-face {
    font-family: 'HaruKaze';
    src: url('./whimsical_fonts/Harukaze.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Body Settings */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: #fff8f0; 
    color: #5c2c06; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Typography */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #d7261b; 
    text-align: center;
}

header {
    background-color: #fff0e0;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#f5ac27;
    text-shadow: 0 black;
}

h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #aa0000;
}

main header {
    font-family: 'HaruKaze', sans-serif;
    font-size: 28px;
    font-weight: normal;
    color: #d7261b;
    text-align: center;
}

main p {
    line-height: 1.8;
    font-size: 18px;
    color: #5c2c06;
}

/* Navigation Bar */
#navbar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #d7261b;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #f5ac27;
    text-decoration: none;
    margin: 10px 0;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #d7261b;
    text-decoration: none;
    border: none;
}

button:hover, nav a:hover {
    background-color: #f5ac27;
}

footer {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #aa0000;
    background-color: #fff0e0;
    padding: 20px;
    margin-top: 2rem;
    
}

footer a {

    text-decoration: none;
    color: black;
}

main section {
    padding: 40px 20px;
    text-align: center;
}


#intro p {
    font-size: 18px;
    color: #FFD548;
    max-width: 700px;
    margin: 0 auto;
}

#inventory {
    background-color: #990000; 
    padding: 40px 20px;
    color: #FFD548;
}

#inventory ul {
    list-style-type: circle;
    padding-left: 20px; 
    margin-left: 0; 
    max-width: 500px; 
    text-align: left;
    margin: 0 auto;
}

#inventory li {
    font-size: 18px;
    margin-bottom: 0.5rem;
    padding-left: 20px; 
    list-style-position: inside;
}

/* Visit Us Section */
#visit-us p {
    font-size: 20px;
    color: #FFD548;
    margin-top: 2rem;
}

.jolly-container {
    text-align: center;
    margin: 20px;
  }

  .jolly-img {
    width: 700px;
    height: auto;
  }

  .jolly-caption {
    font-family: 'poppins', cursive;
    font-size: 1.2em;
    color: #990000;
    margin-top: 10px;
  }

  strong {
    color:#f5ac27;
  }
