<h1>
    <img src="../projects/images/parkinsurancelogo.png" alt="Park Insurance Logo" height="60" style="vertical-align: middle;">
    Park Insurance</h1>
<hr>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="../projects/contacts.html">Contact Us</a>
        ||
        <a href="../projects/about-us.html">About Me</a>
        ||
        <a href="../projects/faq.html">FAQ</a>
        ||
        <a href="../projects/insurance-breakdown.html">Explaining Costs</a>
        ||
        <a href="../projects/insurance0comparison.html">Compare Plans</a>
    </nav>
<hr>