@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 50%;
	max-height: 50%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
.container {
	max-width: 1200 px
}
.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;
    float: left;
    display: block;
    background-color: #F2EEE4;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer_div {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
.header_div {
	background-image: url(assets/su_logo.gif);
	background-repeat: no-repeat;
	height: 110px;
	margin-top: 10px;
}
.nav_div {
	width: 30%;
	float: left;
	border-top-width: thin;
	border-top-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-left-width: thin;
	text-indent: 3px;
}
.nav_ul {
	width: 100%;
	background-color: #AAB8D4;
	list-style-type: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight: bold;
	font-style:italic;
	font-color: #AEAAD4;
	list-style: none;
    margin: 0 10px;
    padding: 0;
    display:table;
    border:solid 1px #ddd;
	a {}
	a:link {color: #2B3955;}
	a:visited {color: #CCCC99;}
	a:hover {color: #AEAAD4;}
}
.fluid.nav_div .fluid.fluidList.nav_ul li {
	border-bottom: thin solid #211E1E;
}
.nav_ul_li {
	display: table-cell;
}
.nav_ul_li:not {
	padding:0 15px;
    background:#eee;
    position:relative;
    vertical-align:middle;
}
.intro_paragraph {
	width: 97%;
	float:none; 
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	clear: none;
	padding-left: 5px;
	padding-right: 5px;
}
.paragraph_text {
	width: 50%;
	display: block;
	float: left;
	vertical-align: top;
	clear: left;
}
.footer_div {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	text-align: center;
	background-color: #F2EEE4;
	margin-top: 10px;
}
.img_div {
	margin-top: 10px;
	text-align: center;
}
.img {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 2000 px;
}
.img-with-text{
	text-align: center;
	width: 2000 px;
}
.img-with-text img {
	display: block;
	margin: 0 auto;
}

.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

input[required] {
	background-color: white;
}

textarea {
	background-color: white;
	height:200px
	font-type: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	rows: "3" 
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer_div {
	position: absolute;
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
.header_div {
	margin-top: 10px;
	background-image: url(assets/su_banner.gif);
	height: 150px;
}
.nav_div {
width: 30%;
}
.nav_ul {
width: 100%;
margin-left: 0;
}
.nav_ul_li {
}
.intro_paragraph {
}
.paragraph_text {
}
.footer {
}
.img_div {
}
.zeroMargin_tablet {
margin-left: 0;
}
.hide_tablet {
display: none;
}
}

#logo {
	margin: 25px 18% 0 50px;
}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer_div {
	position: absolute;
	width: 88.5%;
	max-width: 975px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
.header_div {
}
.nav_div {
width: 30%;
}
.nav_ul {
width: 100%;
margin-left: 0;
}
.nav_ul_li {
}
.intro_paragraph {
}
.paragraph_text {
}
.footer {
}
.img_div {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}