<hr>
<nav>
    <a href="https://webpages.charlotte.edu/jpark185/" target="_blank">Charlotte Webpages</a>
    ||
    <a href="https://github.com/simplemilk" target="_blank">GitHub</a>
    ||
    <a href="https://simplemilk.github.io" target="_blank">GitHub.io</a>
    ||
    <a href="https://www.freecodecamp.org/simplemilk" target="_blank">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/jpark185" target="_blank">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/jjpark185/" target="_blank">LinkedIn</a>
</nav>

<hr>
<p> 2025 Designed by <a href="../parkenterprise.co/index.html">Park Enterprise</a>, All Rights Reserved </p>
<p><a href="https://www.freecodecamp.org/certification/simplemilk/responsive-web-design">Certified in Responsive Web Design</a> || <a href="https://www.freecodecamp.org/certification/simplemilk/javascript-algorithms-and-data-structures-v8"> Certified in JADS</a>
</p>                
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
<script>
  document.getElementbyId("validation_link_css_html").setAttribute("href","https://validator.w3.org/check?uri=" +location.href);
  document.getElementbyId("validation_link_css_html").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" +location.href);
</script>
