<h1> Jonathan Park's Jolly Panda || ITIS-3135 </h1>
<hr>
    <nav>
    <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        <a href="hobby/index.html">Hobbies</a>
        ||
        <a href="tables.html">Tables</a>
        ||
        
    </nav>
<hr>
    <nav>
        <a href="jollypanda/index.html">Whimsical Company</a>
        ||
        <a href="dontlook/rickbobby/rick/InDeX$$$%20$.htm">CRAPPY Website</a>
        ||
                            
    </nav>
<hr>