/* TO DO: Implement styles sheet for index.html */

/* Backgrounds */
.index-background {
    background-image: url('../images/waves.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.static-background {
    background-image: url('../images/reef.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me {
    background-image: url('../images/tiles.jpg');
    background-size: cover;
}

/* Body */
#default-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2.5em;
    color: black;
}

#static-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


#background {
    background-color:white;
    text-align: left;
    padding: 1em;
    margin: 0 15%;
    opacity: 80%;
    border-radius: 1.5em;
    text-indent: 1.5em;
}

ul, ol {
    padding-left: 3em;
    margin-left: 0;
}

/* Table of Contents */
.table-of-contents {
    width: 15 rem;
    padding: 1.5rem;
    margin: 2rem 0;
    background-color: white;
    border-radius: 0.5rem;
}


/* Navigation Bar */
#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    opacity: 70%;
    border-radius: 1em;
}

#main-nav li {
    float: left;
}

#main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5rem 2rem;
    text-decoration: none;
}

#main-nav li a:hover {
    opacity: 60%;
    color: black;
    background: white;
}

/* Graph Size */
.graph {
    width: 50rem;
    height: auto;
}