/* TO DO: Implement styles sheet for index.html */

/* Backgrounds */
.index-background {
    background-image: url('../images/waves.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.static-background {
    background-image: url('../images/reef.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me {
    background-image: url('../images/tiles.jpg');
    background-size: cover;
}

/* Body */
#default-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2.5em;
    color: black;
}

#static-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


#background {
    background-color:white;
    text-align: left;
    padding: 1em;
    margin: 0 15%;
    opacity: 80%;
    border-radius: 1.5em;
    text-indent: 1.5em;
}

ul, ol {
    padding-left: 3em;
    margin-left: 0;
}

/* Navigation Bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    opacity: 70%;
    border-radius: 1em;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5rem 2rem;
    text-decoration: none;
}

nav li a:hover {
    opacity: 60%;
    color: black;
    background: white;
}